*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style-type: none;
   text-decoration: none;
   background: #effcff;
}
.container h1{
   font-size: 48px;
   text-transform: uppercase;
   color: #D60000;
   text-align: center;
   margin: 30px 0 20px;
}

.AlgorithmsBlock{
   padding: 0 20px;
   max-width: 1300px;
   width: 100%;
   margin: auto ;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.item{
   width: 15px;
   background-color: gray;
   margin: 5px;
}

.bubbleSorting{
   max-width: 500px;
   width: 100%;
   cursor: pointer;
   margin-top: 30px;
}
.bubbleSorting h2{
   font-size: 30px;
   text-transform: uppercase;
   font-weight: 500;
   text-align: center;
   margin-bottom: 20px;
   color: #D60000;
}
.BubbleContainer{
   display: flex;
   align-items: end;
}

.selectionSorting{
   max-width: 500px;
   width: 100%;
   cursor: pointer;
   margin-top: 30px;
}
.selectionSorting h2{
   font-size: 30px;
   text-transform: uppercase;
   font-weight: 500;
   text-align: center;
   margin-bottom: 20px;
   color: #D60000;
}
.SelectionContainer{
   display: flex;
   align-items: end;
}

